.search-panel {
  position: relative;
}

.search-results {
  position: absolute;
  background-color: #db9200;
  /* background-color: white; */
  /* background: #F2EFEF; */
  z-index: 1;
  top: 45px;
  left: 1px;
  border-radius: 3px;
  padding: 0.6rem 1rem;
  width: 81%;
  height: 200px;
  overflow-y: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.search-item {
  color: white;
}

.search-item:hover {
  color: rgb(215, 96, 96);
}

.search-results::-webkit-scrollbar {
  display: none;
}

#clearBtn {
  cursor: pointer;
}
